@page "/line-collisions"
@using Portfolio.Model.Project
@using Portfolio.Model.Text
@layout ProjectLayout

@inject LightboxRegistry Registry
@inject AppState AppState
@inject ProjectState ProjectState
@inject ProjectInfoGetter Getter
@inject LanguageTable LanguageTable

@implements IDisposable

@if (_islandsData is not null)
{
    foreach (var island in _islandsData)
    {
        <PageIsland IslandTitle="@island.Title" id="@island.Id" Inverse="@island.Inverted">
            @if (island.Images is null)
            {
                <div style="padding: 0 0.7rem;">
                    @((MarkupString)island.HtmlContentString)
                </div>
            }
            else
            {
                <TwoView FlexValues="@(new ValueTuple<string, string>(island.FlexValues[0], island.FlexValues[1]))">
                    <FirstView>@((MarkupString)island.HtmlContentString)</FirstView>
                    <SecondView>
                        @{
                            var articleClassName = "two-view__img-article";
                            if (island.StickyImages) articleClassName += " sticky";
                        }
                        <article class="@articleClassName">
                            @foreach (var image in island.Images)
                            {
                                <LightboxImg
                                    BoundLightboxName="@nameof(LineCollisions)"
                                    Registry="Registry"
                                    class="hover-scale sc075"
                                    src="@image.Src"
                                    alt="@image.Atl"
                                    width="@image.Width"
                                    height="@image.Height"
                                    style="@image.ExtraCssStyles"/>
                            }
                        </article>
                    </SecondView>
                </TwoView>
            }
        </PageIsland>
    }
}

<Lightbox LightboxName="@nameof(LineCollisions)"
          Registry="Registry"/>

@code {

    private static ProjectDataModel? _model;
    private static NavLinkData[]? _links;
    private static PageIslandModel[]? _islandsData;

    protected override async Task OnInitializedAsync()
    {
        _model = await Getter.GetCorrespondingToUri();
        // project data
        ProjectState.PageEndGithub = _model?.GitHub;
        ProjectState.ProjectStatus = _model?.Status ?? ProjectStatus.Finished;

        LanguageTable.LanguageChangedAsync += OnLanguageChanged;
        await LanguageTable.AwaitLanguageContentAsync(SetLangData);
        
        // page details
        AppState.PageIcon = new PageIcon("image/png", "./images/Unity_AmCJ2pY4oC.png");
        AppState.ShowFooter = true;
    }
    
    private async Task OnLanguageChanged(object sender, int newCultureIdx) => await SetLangData(sender);

    private async Task SetLangData(object? sender)
    {
        var currentData = await LanguageTable.LoadAllCurrentPageData();
        if (currentData is null)
        {
            await Console.Error.WriteLineAsync("Couldn't get Page Data in specified language!");
            return;
        }

        SetPageContent(currentData);
        await LanguageTable.PreCacheAll(Getter.Data.Keys, AppState.CurrentLanguage);
    }

    private void SetPageContent(LangPageData langPageData)
    {
        SetHeaderData(langPageData.HeaderData!.Value);
        SetLinksData(langPageData.LinksData!.Value);
        SetIslandsData(langPageData.PageIslandsData!);
    }

    private void SetHeaderData(LangHeaderModel headerData)
    {
        var header = new HeaderData()
        {
            Title = headerData.Title,
            UnderTitle = headerData.UnderTitle,
            Description = headerData.Description,
            ImagePath = _model!.Value.Header.HeaderImage,
            ExtraStyles = null
        };
        AppState.HeaderData = header;
        AppState.PageTitleExtension = " " + headerData.PageTitleExtension;
    }

    private void SetLinksData(LangLinksModel linksData)
    {
        var l = linksData.Links.Length;
        _links = new NavLinkData[l];
        for (var i = 0; i < l; i++)
        {
            var cur = linksData.Links[i];
            _links[i] = new NavLinkData(cur.Href, cur.DisplayText, cur.OpensNew);
        }

        AppState.Links = _links;
        AppState.MinNonStackedSize = linksData.MinWidth;
    }

    private void SetIslandsData(PageIslandModel[] islandsData)
    {
        _islandsData = islandsData;
        StateHasChanged();
    }

    public void Dispose()
    {
        LanguageTable.ManifestLoadedAsync -= SetLangData;
        LanguageTable.LanguageChangedAsync -= OnLanguageChanged;
    }
    
}