@page "/line-collisions"
@layout ProjectLayout

@inject LightboxRegistry Registry

@if (_islandsData is not null)
{
    foreach (var island in _islandsData)
    {
        <PageIsland IslandTitle="@island.Title" id="@island.Id" Inverse="@island.Inverted">
            @if (island.Images is null)
            {
                <div style="padding: 0 0.7rem;">
                    @((MarkupString)island.HtmlContentString)
                </div>
            }
            else
            {
                <TwoView FlexValues="@(new ValueTuple<string, string>(island.FlexValues[0], island.FlexValues[1]))">
                    <FirstView>@((MarkupString)island.HtmlContentString)</FirstView>
                    <SecondView>
                        @{
                            var articleClassName = "two-view__img-article";
                            if (island.StickyImages) articleClassName += " sticky";
                        }
                        <article class="@articleClassName">
                            @foreach (var image in island.Images)
                            {
                                <LightboxImg
                                    BoundLightboxName="@nameof(LineCollisions)"
                                    Registry="Registry"
                                    class="hover-scale sc075"
                                    src="@image.Src"
                                    alt="@image.Atl"
                                    width="@image.Width"
                                    height="@image.Height"
                                    style="@image.ExtraCssStyles"/>
                            }
                        </article>
                    </SecondView>
                </TwoView>
            }
        </PageIsland>
    }
}
else if (_markdownText is not null)
{
    var markdownSections = MarkdownDeep.Markdown.SplitSections(_markdownText).Where(x => x.Length > 0);
    @foreach (var section in markdownSections)
    {
        <section class="page-island md">
            <div class="page-island__inner">
                @((MarkupString)_projectMarkdown.Transform(section))
            </div>
        </section>
    }
}

<Lightbox LightboxName="@nameof(LineCollisions)"
          Registry="Registry"/>