@using Portfolio.Shared.Layouts
@using Portfolio.Services
@inject AppState AppState
@implements IDisposable

<HeadContent>
    @((MarkupString)AppState.PageIcon.ToString())
</HeadContent>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout2)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(ProjectLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChanged += StateChanged;
    }

    public void Dispose()
    {
        AppState.StateChanged -= StateChanged;
    }


    private void StateChanged()
    {
        StateHasChanged();
    }
    
}