@using Portfolio.Client
@using Portfolio.Services
@inject IJSRuntime JsRuntime

<header class="top-header" style="background-image: url('@HeaderImg');@Style">
    <div class="top-header__overlay"></div>
    <div class="top-header__inner">
        <section class="top-header__texts">
            <h1 class="texts__title">@Title</h1>
            <h2 class="texts__under-title">@UnderTitle</h2>
        </section>

        @if (ExtraText is not null)
        {
            <p class="texts__extra">@ExtraText</p>
        }

        <button class="header__scroll-down" @onclick="ScrollDown" test="@ScrollToId">
            <img class="link__img hover-scale sc075" src="@StaticData.ScrollDownImage" alt="scroll-down image" height="200"/>
        </button>
    </div>
</header>

@code {

    [Parameter]
    public string? HeaderImg { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? UnderTitle { get; set; }

    [Parameter]
    public string? ExtraText { get; set; }

    [Parameter]
    public string? ScrollToId { get; set; }

    [Parameter]
    public string? Style { get; set; }

    private async void ScrollDown()
    {
        if (ScrollToId is null)
            return;

        string elementId = ScrollToId.StartsWith("#") ? ScrollToId[1..] : ScrollToId;

        await JsRuntime.InvokeVoidAsync("scrollToId", elementId);
    }
}