@using Portfolio.Services
@using Portfolio.Shared.Components
@using Portfolio.Shared.Components.Navigation

@inherits LayoutComponentBase
@inject AppState AppState;
@implements IDisposable;

<div class="page">
    <TopHeader HeaderImg="@AppState.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToId="main_content"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="@AppState.Links"/>

    <main class="main-content" id="main_content">
        <div class="main-content__inner">
            @Body
        </div>
    </main>
    
    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h5 style="margin-bottom: 0">Mitchel Vonk©</h5>
            </MainSection>
        </Footer>
    }

    <ToTopBtn/>
</div>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChanged += StateChanged;
        AppState.ShowFooter = false;
    }

    public void Dispose()
    {
        AppState.StateChanged -= StateChanged;
    }

    private void StateChanged()
    {
        StateHasChanged();
    }

}