@using Portfolio.Services
@using Portfolio.Shared.Components

@inherits LayoutComponentBase
@inject AppState AppState;
@implements IDisposable;

<div class="page">
    <TopHeader HeaderImg="@AppState.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToLink="@AppState.Links?[0].Item1"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="@AppState.Links"/>

    <main class="main-content">
        <div class="main-content__inner">
            @Body
        </div>
    </main>
    
    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h3>Mitchel Vonk©</h3>
            </MainSection>
        </Footer>
    }

    <ToTopBtn/>
</div>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChanged += StateChanged;
        AppState.ShowFooter = false;
    }

    public void Dispose()
    {
        AppState.StateChanged -= StateChanged;
    }

    private void StateChanged()
    {
        StateHasChanged();
    }

}