@inherits LayoutComponentBase

@inject AppState AppState;
@inject ProjectState ProjectState;
@inject ColourMapperFactory MapperFactory;

@using Portfolio.ColourMapper
@using System.Drawing

@implements IDisposable;

<div class="page">
    <TopHeader HeaderImg="@AppState.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToId="main_content"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="@AppState.Links"/>

    <main class="main-content" id="main_content">
        <div class="main-content__inner">
            @Body
        </div>
    </main>

    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h5 style="margin-bottom: 0">Mitchel Vonk©</h5>
            </MainSection>
        </Footer>
    }
    
    <ProjStateIndicator ProjectStatus="@ProjectState.ProjectStatus"/>
    
    <ToTopBtn/>
</div>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChanged += StateChanged;
        ProjectState.StateChanged += StateChanged;
        AppState.ShowFooter = false;
    }

    public void Dispose()
    {
        AppState.StateChanged -= StateChanged;
        ProjectState.StateChanged -= StateChanged;
    }

    private void StateChanged()
    {
        StateHasChanged();
    }

}