@inherits LayoutComponentBase

@using Portfolio.Client

<div class="page">
    <TopHeader HeaderImg="@AppState!.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToId="main_content"
               ExtraText="@AppState.HeaderDescription"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="@AppState.Links"
            MinNonStackedSize="@AppState.MinNonStackedSize"
            StackedTopPadding="12"/>

    <main class="main-content" id="main_content">
        <div class="main-content__inner">
            <MainAside>
                <Main>
                    <PageIsland IslandTitle="Info">
                        <article style="display: flex; justify-content: center;">
                            <ProjectInfoTable Model="@Model" />
                        </article>
                        <div style="position: absolute; right: 10px; top: -4px;">
                            <a class="btn btn-sm btn-outline-accent" style="font-size: 1.3rem; text-decoration: underline;"
                               href="@(StaticData.GitHubStartLink + Model?.GitHub)"
                               target="_blank">GitHub</a>
                        </div>
                    </PageIsland>
                    <CascadingValue Value="@this">
                        @Body
                    </CascadingValue>
                </Main>
                <Right>
                    <ProjectsNav />
                </Right>
            </MainAside>
        </div>
    </main>


    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h5 style="margin-bottom: 0">Mitchel Vonk©</h5>
            </MainSection>
        </Footer>
    }

    <ToTopBtn/>
</div>
