@inherits LayoutComponentBase

@inject AppState AppState;
@inject ProjectState ProjectState;
@inject IJSRuntime JsRuntime

@using Portfolio.Client
@implements IDisposable;

<div class="page">
    <TopHeader HeaderImg="@AppState.HeaderImgPath"
               Title="@AppState.HeaderTitle"
               UnderTitle="@AppState.HeaderUnderTitle"
               ScrollToId="main_content"
               Style="@AppState.HeaderExtraStyles"/>

    <TopNav Links="@AppState.Links"
            MinNonStackedSize="@AppState.MinNonStackedSize"/>

    <main class="main-content" id="main_content">
        <div class="main-content__inner">
            <MainAside>
                <Main>
                    @Body
                </Main>
                <Right>
                    <ProjectsNav GitHubLink="@ProjectState.PageEndGithub"/>
                </Right>
            </MainAside>
        </div>
    </main>


    @if (AppState.ShowFooter)
    {
        <Footer>
            <MainSection>
                <h5 style="margin-bottom: 0">Mitchel Vonk©</h5>
            </MainSection>
        </Footer>
    }

    <ProjStateIndicator ProjectStatus="@ProjectState.ProjectStatus"/>

    <ToTopBtn/>
</div>

@code {

    protected override void OnInitialized()
    {
        AppState.StateChangedAsync += AppStateChanged;
        ProjectState.StateChanged += ProjectStateChanged;
        AppState.ShowFooter = false;
    }

    public void Dispose()
    {
        AppState.StateChangedAsync -= AppStateChanged;
        ProjectState.StateChanged -= ProjectStateChanged;
    }

    private async Task AppStateChanged()
    {
        await CheckScroll();
        StateHasChanged();
    }

    private void ProjectStateChanged()
    {
        StateHasChanged();
    }


    private async Task CheckScroll()
    {
        if (AppState.ScrollLocked)
        {
            await JsRuntime.InvokeVoidAsync("lockScroll", StaticData.LockedClassName);
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("unlockScroll", StaticData.LockedClassName);
        }
    }

}

